* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my_tasks_div {
  height: 100vh;

  display: flex;
}

.my_tasks_left_section {
  width: 30%;
  background-color: #1a171d;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.task_header {
  font-size: 36px;
  color: #f3aa4e;
  font-weight: 500;
  font-family: 'Roboto';
  align-self: center;
}

.task_label {
  font-size: 14px;
  color: #f8f8f8;
  font-weight: 500;
  font-family: 'Roboto';
  margin-top: 30px;
  margin-bottom: 9px;
}

.input_box {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add_button {
  background-color: #f3aa4e;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 32%;
  height: 40px;
  margin-top: 40px;
  align-self: center;
  cursor: pointer;
  outline: none;
}

.my_tasks_right_section {
  width: 70%;
  background-color: #000000;
  padding: 30px;
  overflow-y: auto;
}

.tags_header {
  font-size: 32px;
  color: #f8f8f8;
  font-weight: 500;
  font-family: 'Roboto';
  align-self: center;
}

.tags_button_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  list-style-type: none;
}

.each_task_ul {
  list-style-type: none;
  padding-left: 0px;
}

.each_task_li {
  background-color: #1a171d;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task_name {
  font-size: 24px;
  color: #f8f8f8;
  font-weight: 500;
  font-family: 'Roboto';
}

.tag_container {
  background-color: #f3aa4e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  border-radius: 15px;
}

.tag_name {
  background-color: #f3aa4e;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 18px;
  font-size: 16px;
  color: #323f4b;
  font-weight: 500;
  font-family: 'Roboto';
}

.no_tasks_div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_tasks_text {
  font-size: 32px;
  color: #f8f8f8;
  font-weight: 500;
  font-family: 'Roboto';
}
